<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Chiron_Saturn_and_the_Superego</string>
	<string>Melanie_Waterbearer_Dreaming_1</string>
	<string>The_Yod_Finger_of_God</string>
	<string>Narcissism_and_the_Notion_of_Self_in_Astrology</string>
</array>
</plist>
